
<div class="row">
  <div class="col-md-9 col-xs-8">
    <h3 class="text-uppercase">Crear Usuario  <%= link_to 'Atrás', users_path, :class => "btn btn-info btn-sm" %></h3>
   
    </div>
</div>
<div>
  <%= render 'form' %>
</div>
<br><br>

