<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
        <!--<![endif]-->
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logoutem-1.png" width="45" height="45">
        <a class="pure-menu-heading" href="https://vrac.utem.cl/estudiantes/plan-de-apoyo-estudiantil/">PAE UTEM</a>
          
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="" class="pure-menu-link">Iniciar Sesión</a>
        </ul>
    </div>
</div>

<div class="splash-container">
                <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="https://www.enae.es/sites/default/files/styles/imagenes_landing_masters/public/imagenes_landing_master/xlndg_1.jpg,qitok=wDusXruD.pagespeed.ic.vW79BdNtqS.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="https://www.gmridiomas.com/img/news/picture_10470_500x500_crop.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://1.bp.blogspot.com/-PW6sayCumsY/Ut2PR07sL3I/AAAAAAAAAN8/z9QdQQhXtD0/s1600/3-3.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
                </div>
            </div>
                        <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
                </div>
            </div>
    <div class="splash">
        <div style="background-color:#2a5cdf;">
        <h1 class="splash-head">Sistema de alerta Temprana <br>PAE-UTEM <br/></h1>
        <p class="splash-subhead">
        </div>
        </p>
    
            <a href="/welcome/menu.html.erb" class="pure-button pure-button-primary">Iniciar aquí</a>
    
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Enlaces de Interes: </h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                 <a class="pure-button pure-button-primary" href="http://www.utem.cl/"> UTEM Oficial </a>
                </h3>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                <a class="pure-button pure-button-primary" href="https://academia.utem.cl/"> Academia </a>   
                </h3>  
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                <a class="pure-button pure-button-primary" href="http://reko.utem.cl/aula/index.php"> Reko UTEM</a> 
                </h3>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                <a class="pure-button pure-button-primary" href="https://www.facebook.com/plandeapoyoestudiantil/"> Facebook PAE </a>         
                </h3>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="30" alt="" class="pure-img-responsive" src="">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon"></h2>

            <p>
                
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Contactanos</h2>
        <h3 align="center"> Dieciocho 161 - Santiago, Chile. Metro Moneda - Fono: 2787 7500 </h3>

         <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="1" alt="" class="pure-img-responsive" src="">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon"></h2>

            <p>
                
            </p>
        </div>
    </div>
                <h4 align="center">
                    <u>Desarrollado por:</u>
                    <br>Alexis Burgos Oyaneder</br>
                    Sebastian Cisternas Ocaranza.
                    <br>Gerson Peralta Rojas.</br>
                    Alexander Rogers Valdes.
                </h4>

        </div>
    </div>
    <div class="footer l-box is-center">Pagina creada por alumnos de la Universidad Tecnologica Metropolitana</div>
</div>




</body>
</html>
