<body>
  <div id="Jane" class="w3-container person">
  <br>
  <center>
  
  </center>
  <H2 align="center" class="w3-opacity">Bienvenido al Sistema de Prediccion de Puestos de Trabajo</H2>
  <hr>
  <p>¡Mucho Exito les deseamos!</p>
  <div class="row">
  <div class="col-md-3">
 Geraldine Barrera<br>Sebastian Cisternas Ocaranza<br>Victor Lobos<br>Yessenia Allende</p>
  </div>
 
  </div>
  </div>
  </div>
     
</div>


</body>


</html> 