 <h3 class="text-uppercase">Crear Facultad  <%= link_to '<= Volver', facultads_path, :class => "btn btn-info-3 btn-sm" %></h3></h1>

<%=form_for(@facultads) do |f| %>

  <div class="form-group">
    <label for="formGroupExampleInput"></label>
    <%= f.text_field :nombrefacultad, placeholder:"Nombre Facultad" , class:"form-control"  %>
    
  </div>

   <%= f.submit "Guardar" ,class:"btn btn-info" %> 
 
  <%end%>











